@value grindBlack, grindWhite, grindShadow from '../../common/colors.css';
@value mediaQuery3, mediaQuery2, mediaQuery1 from '../../common/size.css';

.record {
  flex-basis: 25%;
  border-right: 1px solid grindBlack;
  border-bottom: 1px solid grindBlack;
  font-family: 'Titillium Web', sans-serif;
  position: relative;
  overflow: hidden;
  -webkit-user-drag: none;
  user-select: none;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: -1px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  border-bottom: 1px solid grindBlack;
  padding: 0 1em;
  overflow: hidden;
}

.summary:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.summary.show {
  animation: slideDown 200ms ease-in forwards;
}

.summary.hide {
  overflow: hidden;
  animation: slideUp 200ms ease-in forwards;
}

@keyframes slideDown {
  0% {
    height: 0;
  }
  100% {
    height: 4em;
  }
}
@keyframes slideUp {
  0% {
    height: 4em;
  }
  100% {
    height: 0;
  }
}

.container {
  border-bottom: 1px solid grindBlack;
  font-size: 0.9rem;
  margin-bottom: 0.5em;
}

.value.date {
  font-size: 0.9rem;
  width: 100%;
  text-align: right;
  margin-top: 0.5em;
}

.image {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
}

.buttons {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: mediaQuery3) {
  .record {
    flex-basis: 33.3%;
  }
}

@media screen and (max-width: mediaQuery2) {
  .record {
    flex-basis: 50%;
  }
}

@media screen and (max-width: mediaQuery1) {
  .record {
    flex-basis: 100%;
  }
}
