@value grindWhite, grindBlack from '../../common/colors.css';

.button {
  background-color: grindWhite;
  outline: none;
  border: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 0.4em 1em;
  cursor: pointer;
  opacity: 1;
}

.button:hover {
  opacity: 0.7;
}
