@value mediaQuery from '../../common/size.css';

.records {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin-top: 66px;
}

.container {
  font-family: 'Titillium Web', sans-serif;
  position: fixed;
  z-index: 1;
  right: 4.5em;
  top: 1em;
}

.container button {
  font-size: 1.1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container svg {
  font-size: 1.7rem;
  margin-left: 0.2em;
}
.buttonSum svg {
  transition: all 150ms ease-in;
  transform-origin: center;
  transform-origin: center 18px;
}

.buttonDiet svg {
  font-size: 1.2rem;
}

.buttonSum.show svg {
  transform: rotate(180deg);
}

.buttonSum.hide svg {
  transform: rotate(0);
}
