@value grindWhite, grindBlack from '../../common/colors.css';

.input {
  display: none;
}

.button {
  background-color: grindWhite;
  outline: none;
  border: none;
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding: 0.6em 1.5em;
  opacity: 0.7;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}
