@value grindBlack, grindWhite from '../../common/colors.css';
@value mediaQuery1 from '../../common/size.css';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: grindWhite;
  z-index: 1;
  -webkit-user-drag: none;
  user-select: none;
}

.header.fixed {
  position: fixed;
}

.title {
  margin: 0;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 0.5em;
  color: grindBlack;
}

a {
  text-decoration: none;
}

.line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: grindBlack;
  animation: draw 1100ms ease forwards;
}

@keyframes draw {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* nav */

.nav {
  display: flex;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.button,
.logout {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  padding: 1em 0.4em 1em 0.4em;
  margin-top: 0.2em;
  font-size: 1.1rem;
  font-family: 'Titillium Web', sans-serif;
  opacity: 0.6;
}

.button:hover,
.logout:hover {
  opacity: 1;
}

.logout {
  position: absolute;
  right: 0.5em;
}

.guide,
.guide.on {
  display: block;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  top: -43px;
  right: 0;
  width: 2em;
  height: 43px;
  justify-content: space-between;
  padding: 0.8em 0;
  margin-right: 0.5em;
  cursor: pointer;
}

.guideBar.off,
.guideBar.on {
  display: block;
  width: 1.5em;
  height: 1px;
  background-color: grindBlack;
  transition: all 200ms;
}

.guideBar.on:first-child {
  transform: rotate(45deg) translate(3px, 8px);
}
.guideBar.on:nth-child(2) {
  opacity: 0;
}
.guideBar.on:last-child {
  transform: rotate(-45deg) translate(3px, -8px);
}

@media screen and (max-width: mediaQuery1) {
  .nav {
    display: none;
  }
  .nav {
    display: block;
  }
  .list {
    position: absolute;
    right: 0;
    top: 43px;
    flex-direction: column;
    background: grindWhite;
    z-index: 1;
  }
  .listOn {
    display: none;
    border: none;
  }
  .listOff {
    display: block;
  }
  .item {
    border: 1px solid grindBlack;
    border-top: none;
  }
  .button {
    margin: 0;
    padding: 0.5em 1em;
    width: 100%;
  }
  .logout {
    position: static;
  }
  .guide {
    display: flex;
  }
}
